html {
  margin: 0;
  padding: 0;
  background-color: #f9f6f3;
}

.container {
  text-align: center;
  padding-top: 75px;
}

.tip {
  padding-top: 0;
  margin-top: 8px;
  margin-left: 70px;
  color: #715f5b;
}

.title {
  margin-bottom: 70px;
}

#gobbles {
  font-size: 50px;
  font-family: "Helvetica-Roman";
  display: inline-block;
  transform: translateY(30%);
  color: #826159;
  margin: 0 0 40px 0;
}

#turkey {
  max-height: 150px;
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.list-urls {
  display: none;
}
