html, body {
  margin  : 0px;
  padding : 0px;
  background-color: #f9f6f3;
  /* color: white; */
}

html {
  /* height: 100%; */
  /* margin:0px; */
  /* background: url("/back.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* text-shadow: 1px 1px 3px #000000; */
}

.container {
  text-align: center;
  padding-top: 75px;
}

span {
  margin-right: 75px;
  color: #715f5b;
}

.title {
  margin-bottom: 100px;
}

#gobbles {
  font-size: 50px;
  font-family: "Helvetica-Roman";
  display: inline-block;
  transform: translateY(30%);
  color: #826159;
  margin: 0 0 40px 0;
}

#turkey {
  max-height: 150px;
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
}
