html {
  background-color: #dfdfdf;
}

.x {
  width: 25px;
  height: 25px;
  opacity: 0.5;
  display: inline-block;
  vertical-align: middle;
  padding-right: 3px;
  padding-left: 6px;

  transition: opacity 0.2s ease-in;
}

.x:hover {
  opacity: 1.0;
}

.t {
  display: inline-block;
  transform: translateY(10%);
}

.entry {
  white-space: nowrap;
  background-color: #eeeeee;
  padding: 4px 0 4px 0;
  margin: 1px 0 11px 0;
  font-size: large;
  box-shadow: 1px 1px 1px #888888;
}
