<!DOCTYPE html>
<html>
  <head>
    <title>GoGobbles</title>
    <link rel="stylesheet" type="text/css" href="/style/min.css">
    <link rel="stylesheet" type="text/css" href="/style/api.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <div class="colorbar"></div>
    <a class="smalltitle" href="/"><div class="title">
      <img id="turkey" src="/image/turkey.png"></img>
      <p id="gobbles">GoGobbles</p>
    </div></a>
    <div class="head">
      <a href="/faq">faq</a>
      <a href="/api">api</a>
      <a href="https://github.com/hspak/gogobbles">source</a>
    </div>
    <div class="container">
      <div class="apicall">
        <p class="apiname">API Call: <code class="api">/api/count</code></p>
        <p class="apidesc">Returns the total number of todo items in the database. Also returns an array of lists in existance with the name and count of items. The total count and the length of the list may not match.</p>
        <pre class="example">
  Example response:

  {
    ItemCount: 555,
    List: [
      {
        Label: "a",
        Count: 5
      }
      {
        Label: "b",
        Count: 500
      }
      {
        Label: "c",
        Count: 50
      }
    ]
  }
        </pre>
      </div>
      <div class="apicall">
        <p class="apiname">API Call: <code class="api">/api/get/:label</code></p>
        <p class="apidesc">Returns the label name, count and a list of items' id and text.</p>
        <pre class="example">
  Example response:

  {
    Label: "a",
    Count: 3,
    Todos: [
      {
        Id: "5462ab43b4d9a64312000006",
        Text: "item1"
      }
      {
        Id: "5462ab43b4d9a64312000007",
        Text: "item2"
      }
      {
        Id: "5462ab43b4d9a64312000008",
        Text: "item3"
      }
    ]
  }
        </pre>
      </div>
      <div class="apicall">
        <p class="apiname">API Call: <code class="api">/api/add/:label/:todo</code></p>
        <p class="apidesc">Adds a todo item to the label provided. Will respond with the id of the new item.</p>
        <pre class="example">
  Example response:

  5462ab43b4d9a64312000006
        </pre>
      </div>
      <div class="apicall">
        <p class="apiname">API Call: <code class="api">/api/remove/:label/:id</code></p>
        <p class="apidesc">Removes a todo item from the label with the provdied id. No response.</p>
      </div>
      <p>Note: json response isn't prettified, yet.</p>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56655019-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
