<!DOCTYPE html>
<html>
  <head>
    <title>GoGobbles</title>
    <link rel="stylesheet" type="text/css" href="/style/min.css">
    <link rel="stylesheet" type="text/css" href="/style/index.css">
  </head>
  <body>
    <div class="colorbar"></div>
    <div class="head">
      <a href="https://github.com/hspak/gogobbles">source</a>
      <a href="/api">api</a>
    </div>
    <div class="container">
      <div class="title">
        <img id="turkey" src="/image/turkey.png"></img>
        <p id="gobbles">GoGobbles</p>
      </div>
      <span>{{ .ListCount }} lists created and counting!</span>
      <br>
      <input autofocus id="searchBox" class="textbox" type="text" placeholder="Create or search for a list" onkeydown="newTodo(event)"></input></input><label id="inputHelper"></label>
    </div>

    <script src="/js/index.js" type="text/javascript"></script>
  </body>
</html>
