<!DOCTYPE html>
<html>
  <head>
    <title>GoGobbles</title>
  </head>
  <body>
    <p>{{ .ListCount }}</p>

    <input autofocus id="searchBox" type="text" onkeydown="newTodo()"></input></input><label id="inputHelper"></label>

    <script src="/js/index.js" type="text/javascript"></script>
  </body>
</html>
