<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Label }}</title>
    <link rel="stylesheet" type="text/css" href="/style/list.css">
  </head>
  <body>
    <h1>{{ .Label }}</h1>
    <div id="theList">
    {{ range .Todos }}
      <div class="entry">
        <img id="but{{ .Id }}" class="x" src="/icon/circlex.png" onclick="removeTodo({{ .Id }})" alt="Delete">
        <span id="todo{{ .Id }}" class="t">{{ .Text }}</span>
      </div>
    {{ end }}
    </div>

    <input id="addBox" type="text" onkeydown="addTodo(event)"></input><label id="inputHelper"></label>

    <script type="text/javascript">
      var label = {{ .Label }}
      var todos = {{ .Todos }}
    </script>
    <script src="/js/list.js" type="text/javascript"></script>
  </body>
</html>
